
@import url(https://fonts.googleapis.com/css?family=Exo:100);

@-webkit-keyframes bg-scrolling-reverse {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  0% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  100% {
    background-position: 50px 50px;
  }
}
.rightSection {
  height: 100%;
  margin-top: 4.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 3.92s infinite;
  -moz-animation: bg-scrolling-reverse 3.92s infinite;
  -o-animation: bg-scrolling-reverse 3.92s infinite;
  animation: bg-scrolling-reverse 3.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.rightSection::before {
  content: "CALL US!";
  font-size: 6rem;
  font-weight: 100;
  font-style: normal;
}

/* contact animations */


.rightSection svg {
  display: block;
  margin: auto;
  margin-top: 2%;
}

.cls1 {
  fill: none;
  stroke:  #086e9b;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5px;

}

.cls2 {
  fill: #0baff5;

}

#line11 {
  animation: touchShine1_1 3s ease 4;

}

#line12 {
  animation: touchShine1_2 3s ease 4;

}

#line21 {
  animation: touchShine2_1 3s ease 4;

}

#line22 {
  animation: touchShine2_2 3s ease 4;

}

#line31 {
  animation: touchShine3_1 3s ease 4;

}

#line32 {
  animation: touchShine3_2 3s ease 4;

}

#line4 {
  animation: touchShine4 3s ease 4;

}

#line51 {
  animation: touchShine5_1 3s ease 4;

}

#line52 {
  animation: touchShine5_2 3s ease 4;

}

#line61 {
  animation: touchShine6_1 3s ease 4;

}

#line62 {
  animation: touchShine6_2 3s ease 4;

}

#line71 {
  animation: touchShine7_1 3s ease 4;

}

#line72 {
  animation: touchShine7_2 3s ease 4;

}

#line8 {
  animation: touchShine8 3s ease 4;

}

#line91 {
  animation: touchShine9_1 3s ease 4;

}

#line92 {
  animation: touchShine9_2 3s ease 4;

}

#line101 {
  animation: touchShine10_1 3s ease 4;

}

#line102 {
  animation: touchShine10_2 3s ease 4;

}

#line111 {
  animation: touchShine11_1 3s ease 4;

}

#line112 {
  animation: touchShine11_2 3s ease 4;

}
#headset {
  animation: touchTalk 3s ease 4;

}
        

@keyframes touchShine1_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    8% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    10% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine1_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    8% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    11% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    13% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine2_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    11% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    14% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    16% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine2_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    14% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    17% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    19% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine3_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    17% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    20% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    22% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine3_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    20% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    23% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    25% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine4 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    23% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    26% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    28% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine5_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    26% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    29% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    31% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine5_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    29% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    32% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    34% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine6_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    32% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    35% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    37% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine6_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    35% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    38% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    40% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine7_1 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    38% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    41% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    43% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine7_2 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    41% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    44% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    46% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine8 {

    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    44% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    47% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    49% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchShine9_1 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    47% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    50% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    52% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
}

@keyframes touchShine9_2 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    50% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    53% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    55% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
}

@keyframes touchShine10_1 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    53% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    56% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    58% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
}

@keyframes touchShine10_2 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    56% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    59% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    61% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
}

@keyframes touchShine11_1 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    59% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    62% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    64% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
}

@keyframes touchShine11_2 {
    0% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    5% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    62% {opacity: 0; transform: scale(1); transform-origin: 50% 50%;}
    65% {opacity: 1; transform: scale(1.1); transform-origin: 50% 50%;}
    67% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}
    100% {opacity: 1; transform: scale(1); transform-origin: 50% 50%;}

}

@keyframes touchTalk {
    0% {transform: rotate(0deg); transform-origin: 50% 70%;}
    70% {transform: rotate(0deg); transform-origin: 50% 70%;}
    77% {transform: rotate(10deg); transform-origin: 50% 70%;}
    91% {transform: rotate(-10deg); transform-origin: 50% 70%;}
    98% {transform: rotate(0deg); transform-origin: 50% 70%;}
    100% {transform: rotate(0deg); transform-origin: 50% 70%;}

}